
<body>
    <section class="auth-section d-flex justify-content-center py-3 align-items-center">

        <div class="auth-layer px-3 py-5">

                <%= form_for @conn, Routes.session_path(@conn, :create), [as: :session,class: "d-flex h-100 justify-content-center align-items-center flex-column", id: "session-form"], fn f -> %>
                <header class="text-center font-weight-bold mb-5">
                    Signin
                </header>


                <div class="form-group my-3 w-100">

                     <%= text_input f, :email, placeholder: "Email Address", class: "form-control custom-auth-input px-4" %>
                </div>
                <div class="form-group my-3 w-100">

                    <%= password_input f, :password, placeholder: "Password", class: "form-control custom-auth-input px-4" %>
                </div>
                <button class="btn custom-btn smaller-btn mt-2 btn-block py-2">SIGNIN </button>
            <% end %>
            <div class="mt-5 pt-5">
                            <p class="text-center auth-link">
                                Dont Have an account? <a href="<%= Routes.registration_path(@conn,:new)%>">sign up now</a>
                            </p>
                        </div>
        </div>

    </section>
