
<body>
    <section class="auth-section d-flex justify-content-center py-3 align-items-center">

        <div class="auth-layer px-3 py-5">




<%= form_for @changeset, Routes.registration_path(@conn, :create), [class: "d-flex h-100 justify-content-center align-items-center flex-column",as: :registration, id: "registration-form"], fn f -> %>
   <header class="text-center font-weight-bold mb-5">
                     Sign Up
                 </header>
  <%= if @changeset.action do %>
  <div id="form-error" class="alert alert-danger">
    <p>Oops, something went wrong! Please check the errors below.</p>
  </div>
  <% end %>

  <div class="form-group my-3 w-100">

    <%= text_input f, :firstname, placeholder: "Firstname" ,class: "form-control custom-auth-input px-4" %>
    <%= error_tag f, :firstname %>
  </div>


  <div class="form-group my-3 w-100">

    <%= text_input f, :lastname, placeholder: "Lastname" ,class: "form-control custom-auth-input px-4" %>
    <%= error_tag f, :lastname %>
  </div>

  <div class="form-group my-3 w-100">

    <%= text_input f, :email, placeholder: "Email Address" ,class: "form-control custom-auth-input px-4" %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group my-3 w-100">

    <%= text_input f, :phone,placeholder: "Phone" ,class: "form-control custom-auth-input px-4" %>
    <%= error_tag f, :phone %>
  </div>

   <div class="form-group my-3 w-100">

    <%= password_input f, :password, placeholder: "Password", class: "form-control custom-auth-input px-4" %>
    <%= error_tag f, :password %>
  </div>


  <div class="form-group my-3 w-100">

    <%= password_input f, :password_confirmation, placeholder: "Confirm your password" ,class: "form-control custom-auth-input px-4" %>
    <%= error_tag f, :password_confirmation %>
  </div>
  <%= submit "CREATE ACCOUNT", class: "btn custom-btn smaller-btn mt-2 btn-block py-2" %>
<% end %>
 </div></section></body>