body{
    font-family: Rubik;
}

p{
    color: #454553;
}

.masthead{
    background-image: url(../img/HeroImage.png);
    height: 120vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mini-masthead{
    height: 60vh;
}

.other-pages-word > .main-word{
    color: #fff;
    font-size: 50px;
    margin: 0;
}

.contact-section-head{
    color: #002663;
    font-size: 30px;
    text-transform: uppercase;
}
.nav-icons{
    width: 15%;
}

.nav-item {
    max-width: 200px;
}

.upper-nav-link > a{
    font-size: 15px;
}

.upper-nav-link > p{
    font-size: 12px;
}

.mini-masthead>div{
    bottom: 0;
}

.lower-navbar{
    /* border-radius: 5px; */
    background: #ffffff;
    /* padding: 1rem 3rem;
    margin: 0 3rem; */
}

.slide{
    height: 85vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.slide1{
    background-image: url(../img/HeroImage.png);
}

.slide2{
    background-image: url(../img/Group-17.png);
}

.slide3{
    background-image: url(../img/auth-banner.jpeg);
}
.owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lower-nav-link{
    color: rgb(31, 31, 31);
}


.lower-nav-link:hover {
    color: #EE2612;
}

.mini-word{
    background: #ffffff;
}

.mini-word p{
    color: #EE2612;
}

.main-word{
    color: #fff;
    font-size: 70px;
    text-align: center;
    width: 75%;
}

.custom-btn{
    background: #EE2612;
    color: #ffffff;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 20px;
}

.custom-btn:hover{
    opacity: 0.7;
}

.smaller-btn{
    font-size: 13px;
}

.programme-section{
    /* position: relative;
    bottom: 150px; */
    background: #fff;
    padding: 3rem 3rem;
    margin: 1rem;
}

.programme-section-header{
    font-size: 40px;
    color: #EE2612 !important;
    letter-spacing: 5px;
}

.our-programmes-section{
    background:  url(../img/Group-7.png);
    width: 100%;
    height: 70vh;
    /* margin: -140px 0 0; */
    background-repeat: no-repeat;
    background-size: cover;

}

.our-programmes-section-head{
    font-size: 30px;
}

.our-programmes-section-text{
    font-size: 18px;
    width: 50%;
}


.success-stories-section{
    background:  url(../img/Group-17.png);
    height: 120vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.success-stories-section-head{
    font-size: 80px;
    line-height: 1;
}

.success-stories-section-content{
    background: #dbd0d0;
    padding: 1rem 3rem;
    width: 50%;
}

.content-head{
    font-size: 25px;
}

.newsletter-section-tab{
    max-width: 30%;
    margin: 1rem;
}

.newsletter-section-tab > img{
    height: 15rem;
}

.newsletter-date{
    font-size: 12px;
}

.newsletter-topic{

    font-size: 20px;

}

.newsletter-form-main{
    font-size: 60px;
    line-height: 1;
}

.custom-input{
    border-radius: 50px;
    line-height: 2;
    height: 4rem;
}

.events-section-tab{
    max-height: 10rem;
    max-width: 45%;
}

.home-footer{
    height: 40vh;
    background: #1E1E23;
}

.events-section-text > p{
    color: #EE2612 !important;
    font-size: 10px;
}


.events-section-text{
    width: 75%;
}

.events-section-img{
    width: 25%;
}

.events-section-text > span{
    font-size: 10px;
}

.events-section-text-head{
    font-size: 20px !important;
}

hr.small{
    height: 3px;
    background: #ffffff;
    width: 10%;
}

hr.inverse{
    margin: 0;
    height: 1px;
    background: #1E1E23;
    width: 15%;
}

.text-area-prepend{
    position: absolute;
    top: -40px;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-area-text{
    border: #ddd solid 1px;
    padding: 0.5em;
    border-radius: .25rem;
}

.text-area-input{
    height: 200px !important;
}

.topic-head{
    font-size: 30px;
    color: #002663;
    font-weight: bold;
}

.contact-prepend{
    background: #002663;
    color: #fff;
}

.auth-section{
    background: url(../img/auth-banner.jpeg);
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.auth-layer{
    background: #ffffff;
    min-height: 90vh;
    min-width: 370px;
    width: auto;
    border-radius: 10px;
}

.custom-auth-input{
    border-radius: 50px;
    line-height: 1;
    height: 3rem;
}

.auth-link a{
    color: #EE2612;
}

.auth-layer header{
    font-size: 40px;
    color: #EE2612;
}

.apply-header{
    color: #002663;

}

.apply-header h1{
    font-size: 3.5rem;
    font-weight: bold;
}

.primary-apply-label{
    color: #EE2612;
}

.secondary-apply-label{
    color: #002663;
}

.custom-apply-input{
    border: #002663 1px solid;
    line-height: 1;
}

.upload-box{
    border: #002663 1px solid;
}

.upload-box input{
    border: none;
}

.upload-box.photo{
    height: 15rem;
}

.upload-box p{
    font-size: 14px;
    color: #EE2612;
}

input[type="radio"]{
    background-color: grey;
  }

  .owl-theme .owl-dots .owl-dot span {
    background: #fff !important;
}
