@media screen and  (max-width: 768px){

    .main-word {
        font-size: 30px;
    }


    #navbarSupportedContent{
        display: none;
    }

    #first-navbar{
        display: none;
    }

    /* .lower-navbar{
        padding: 1rem 1rem;
        margin: 0 1rem;
    } */

    .navbar-brand{
        margin: 0 .5rem;
    }

    .success-stories-section {
        height: 130vh;
    }

    .success-stories-section-head {
        font-size: 35px;
    }

    .programme-section{
        padding: 3rem 1rem;
    }

    .our-programmes-section-text{
        width: 100%;
    }
    
    .success-stories-section-content{
        padding: 1rem .5rem;
        width: 95%;
    }

    .newsletter-section-tab {
        max-width: 100%;
        margin: .5rem;
    }

    .newsletter-form-main {
        font-size: 30px;
        line-height: 1;
    }

    .events-section-tab {
        max-height: 14rem;
        max-width: 100%;
    }

    .events-section-text-head {
        font-size: 12px !important;
    }

    .events-section-text{
        width: 60%;
    }
    
    .events-section-img{
        width: 40%;
    }

    .other-pages-word > .main-word {
        font-size: 35px;
    }

    .home-footer {
        height: 100%;
        background: #1E1E23;
    }

    .auth-layer {
        min-width: 336px;
        width: auto;
        border-radius: 10px;
    }

    .apply-header h1{
        font-size: 1.7rem;
        font-weight: bold;
    }
    
    .apply-header h3{
        font-size: 25px;
    }

    .topic-head {
        font-size: 20px;
    }
}