
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JavSalynn Foundation</title>

    <!-- Browser Tab Icon
	<link rel="icon" href="img/favicon.jpg"> -->

    <!-- Bootstrap core CSS -->


    <!-- Font Link -->
    <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>

<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>



</head>

      <%= render @view_module, @view_template, assigns %>






          <script src="<%= Routes.static_path(@conn, "/vendor/") %>jquery.js"></script>
          <script src="<%= Routes.static_path(@conn, "/") %>vendor/bootstrap/js/bootstrap.min.js"></script>
          <script src="<%= Routes.static_path(@conn, "/") %>vendor/owlcarousel/owl.carousel.js"></script>
      	<script src="<%= Routes.static_path(@conn, "/") %>js/scripts.js"></script>

      </body>

      </html>
</html>
